---
import PageLayout from "../layouts/PageLayout.astro";

const pageStatus = {
  title: "404 Error | Page Not Found",
  description: "I am not good at English, but I tried my best to make it."
};
---

<PageLayout title={ pageStatus.title } description={ pageStatus.description }>
  <section class="page-404 pt8rem">
    <div class="page-404__inner">
      <h1 class="page-404__heading">Oops!<br />The page you're looking<br />for couldn't be found.</h1>
      <div class="page-404__body">
        <p class="page-404__text">Don't worry, it happens to the best of us.</p>
        <p class="page-404__text">You can <a class="back-to-home" href="/">return to the homepage</a> or try searching for what you're looking for.</p>
      </div>
    </div>
  </section>
</PageLayout>

<style lang="scss">
  @use "../styles/colors" as *;

  .page-404 {
    &__heading {
      font-family: "EB Garamond", serif;
      font-size: clamp(2rem, 0.636rem + 6.82vw, 5rem);
      letter-spacing: .05em;
    }

    &__body {
      margin-top: 2rem;
      font-size: 1.125rem;
    }

    &__text {
      font-size: clamp(1rem, 0.886rem + 0.57vw, 1.25rem);
    }

    .back-to-home {
      margin-left: .5rem;
      margin-right: .5rem;
      font-style: italic;
      border-bottom: 1px solid $color-text;

      @media (hover: hover) {
        &:hover {
          border-color: $color-accent;
          color: $color-accent;
        }
      }
    }
  }
</style>