---
import { Image } from "astro:assets";
import authorIcon_01 from "../assets/author-icon_01.png";
import authorIcon_02 from "../assets/author-icon_02.png";
import authorIcon_03 from "../assets/author-icon_03.png";
import authorIcon_04 from "../assets/author-icon_04.png";
import authorIcon_05 from "../assets/author-icon_05.png";
import authorIcon_06 from "../assets/author-icon_06.png";
import authorIcon_07 from "../assets/author-icon_07.png";
import authorIcon_08 from "../assets/author-icon_08.png";
import authorIcon_09 from "../assets/author-icon_09.png";
import authorIcon_10 from "../assets/author-icon_10.png";
import { fetchApi } from "../scripts/api";
import { endpoint } from "../lib/config";
import type { Author } from "../lib/config";

const authorsData = await fetchApi(endpoint.authors);

const authorIcons = [
  authorIcon_01,
  authorIcon_02,
  authorIcon_03,
  authorIcon_04,
  authorIcon_05,
  authorIcon_06,
  authorIcon_07,
  authorIcon_08,
  authorIcon_09,
  authorIcon_10,
];
---

<ul class="author-list">
  {
    authorsData.map((author: Author, index: number) => (
      <li class="author-item">
        <a class="author-item__link" href={ `/author/${ author.id }` }>
          <Image class="author-item__image" src={ authorIcons[index] } alt="Author icon" />
          <div class="author-item__body">
            <h2 class="author-item__username">{ author.username.replace(/[_\.]/g, " ") }</h2>
            <p class="author-item__name">by: { author.name }</p>
          </div>
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  @use "../styles/colors" as *;

  .author-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
  }

  .author-item {
    width: calc((100% - 2rem) / 3);

    @media screen and (max-width: 768px) {
      width: calc((100% - 1rem) / 2);
    }

    @media screen and (max-width: 428px) {
      width: 100%;
    }
  }

  .author-item__link {
    width: fit-content;

    @media (hover: hover) {
      &:hover {
        .author-item__image {
          opacity: 0.7;
        }

        .author-item__username {
          color: $color-accent;
        }

        .author-item__name {
          color: $color-accent;
        }
      }
    }

    @media screen and (max-width: 428px) {
      display: flex;
      align-items: center;
      gap: 0 1.5rem;
    }
  }

  .author-item__image {
    max-width: 128px;
  }

  .author-item__body {
    margin-top: 0.5rem;

    @media screen and (max-width: 428px) {
      margin-top: 0;
    }
  }

  .author-item__username {
    font-family: "EB Garamond", sans-serif;
    font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);
    font-weight: 700;
  }

  .author-item__name {
    margin-top: 0.25rem;
    font-size: clamp(0.75rem, 0.661rem + 0.45vw, 0.875rem);
    font-style: italic;
  }
</style>