---
---

<section class="main-visual section">
  <div class="main-visual__inner">
    <h1 class="main-visual__copy">Learning site<br />for astro<br />using JSONPlaceholder</h1>
  </div>
</section>

<style lang="scss">
  .main-visual {
    height: 600px;

    &__inner {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__copy {
      font-family: "EB Garamond", sans-serif;
      font-size: clamp(2rem, 0.636rem + 6.82vw, 5rem);
      letter-spacing: 0.05em;
    }
  }
</style>